/* You can add global styles to this file, and also import other style files */



*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  background-color: #181A2A;
  max-width: 1300px;
  margin: 0 auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}


.labels {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.labels .label {
  display: flex;
  padding: 0.25rem 0.625rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.375rem;
  background: #4B6BFB;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.details .user-details {
  display: flex;
  align-items: center;
  gap: .75rem;
}


.details .user-details .profile-photo {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.details .user-details .profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details .user-details .user-name {
  color: #97989F;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.details .date {
  color: #97989F;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.section-title {
  color: #FFF;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem;
  align-self: flex-start;
  padding-bottom: 2rem;
}

button, a.btn {
  cursor: pointer;
  display: flex;
  padding: 0.75rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  border-radius: 0.375rem;
  border: 1px solid rgba(105, 106, 117, 0.30);
  outline: none;
  color: #696A75;
  font-family: Work Sans;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

h1.page-title {
  text-align: center;
  color: #FFF;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.25rem;
  padding: 2rem 0;
}

.error-msg {
  color: #FF4D4F;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  padding: 0.25rem 0;
}

.form-error {
  background: #FF4D4F;
  color: white;
  padding: 0.5rem;
  border-radius: 0.625rem;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.04rem;
  font-family: Inter;
  margin: 0.5rem;
}

@media screen and (max-width: 1300px) {

  body {
    max-width: 100%;
    padding: 0 1rem;
  }

}


@media screen and (max-width: 1024px) {

  .labels .label {
    font-size: 0.75rem;
  }

  .section-title {
    font-size: 1.25rem;
    text-align: center;
    align-self: center;
  }

}


