<div id="create-post">

  <h1 class="page-title">
    Create Post
  </h1>

  <div *ngIf="errorMessage" class="form-error">
    {{ errorMessage }}
  </div>

  <form [formGroup]="createBlogForm" (ngSubmit)="onSubmit()" class="create-post-form">


    <div class="form-group">
      <label for="title">Title</label>
      <input type="title" id="title" class="form-control" formControlName="title">
      <div
        *ngIf="createBlogForm.get('title')?.invalid && (createBlogForm.get('title')?.dirty || createBlogForm.get('title')?.touched)">
        <div class="error-msg" *ngIf="createBlogForm.get('title')?.hasError('required')">Title is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="content">Content</label>
      <textarea type="content" id="content" class="form-control" formControlName="content" cols="30" rows="10"></textarea>
      <div
        *ngIf="createBlogForm.get('content')?.invalid && (createBlogForm.get('content')?.dirty || createBlogForm.get('content')?.touched)">
        <div class="error-msg" *ngIf="createBlogForm.get('content')?.hasError('required')">Content is required.</div>
      </div>
    </div>


    <div class="form-group">
      <label for="image">Image URL</label>
      <input type="text" id="image" class="form-control" formControlName="image" placeholder="https:// or http://">
      <div *ngIf="createBlogForm.get('image')?.invalid && (createBlogForm.get('image')?.dirty || createBlogForm.get('image')?.touched)">
        <div class="error-msg" *ngIf="createBlogForm.get('image')?.hasError('required')">image is required.</div>
      </div>
    </div>


    <div class="form-group">
      <label for="category">Category</label>
      <select id="category" class="form-control" formControlName="category">
        <option value="0">Select Category</option>
        <option *ngFor="let category of categories" [value]="category.value">{{category.viewValue}}</option>
      </select>
      <div
        *ngIf="createBlogForm.get('category')?.invalid && (createBlogForm.get('category')?.dirty || createBlogForm.get('category')?.touched)">
        <div class="error-msg" *ngIf="createBlogForm.get('category')?.hasError('required')">Category is required.</div>
      </div>
    </div>

    <button type="submit" class="form-btn" [disabled]="createBlogForm.invalid">Create Post</button>

  </form>

</div>
