<section class="featured-blog-post">

  <div class="featured-blog">

    <a routerLink="/post/{{post._id}}" class="featured-blog-image">
      <img src="{{post.image}}" alt="featured-blog-image">
    </a>

    <div class="featured-blog-details">

      <div class="labels">

        <a routerLink="/category/{{post.category?._id}}" class="label">{{post.category?.name}}</a>

      </div>

      <h2 class="title">
        <a routerLink="/post/{{post._id}}">
          {{post.title}}
        </a>
      </h2>

      <div class="details">

        <div class="user-details">

          <a routerLink="/author/{{post.author?._id}}" class="profile-photo">

            <img src="{{post.author?.image}}" alt="profile-photo">

          </a>

          <a routerLink="/author/{{post.author?._id}}" class="user-name">
            {{post.author?.firstName}} {{post.author?.lastName}}
          </a>

        </div>


      </div>


    </div>

  </div>

</section>
