<header>


  <div class="header-left">

    <div class="logo">
      <img src="./assets/logo.png" alt="logo">
    </div>

  </div>

  <div class="header-center">

    <nav>

      <ul>

        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/blog">Blog</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="/profile">My Profile</a></li>
        <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
        <li *ngIf="!isLoggedIn"><a routerLink="/register">Register</a></li>
        <li *ngIf="isLoggedIn"><a (click)="logout()">Logout</a></li>

      </ul>

    </nav>

  </div>

  <div class="header-right">

    <div class="search">
      <input type="text" placeholder="Search">
      <fa-icon [icon]="faSearch" [style]="'color: #52525B'"></fa-icon>
    </div>

    <div class="create-post">
      <a routerLink="/create-post">Create Post</a>
    </div>

  </div>

  <div class="mobile-header">

    <div class="mobile-menu">
      <fa-icon [icon]="faBars" [style]="'color: #52525B'"></fa-icon>
    </div>

  </div>


</header>
