<header>


  <div class="header-left">

    <a class="logo" routerLink="/">
      <img src="./assets/logo.png" alt="logo">
    </a>

  </div>

  <div class="header-center">

    <nav>

      <ul>

        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/blog">Blog</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="/profile">My Profile</a></li>
        <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
        <li *ngIf="!isLoggedIn"><a routerLink="/register">Register</a></li>
        <li *ngIf="isLoggedIn"><a (click)="logout()">Logout</a></li>

      </ul>

    </nav>

  </div>

  <div class="header-right">

    <app-search></app-search>

    <div class="create-post">
      <a routerLink="/create-post">Create Post</a>
    </div>

  </div>

  <div class="mobile-header">
    <div class="mobile-menu" (click)="toggleMobileMenu()" #mobileMenu>
      <fa-icon [icon]="faBars" size="xl" [style]="'color: #52525B'"></fa-icon>
    </div>
  </div>

  <div
  class="mobile-menu-content"
  [class.show]="showMobileMenu"
  [class.hide]="!showMobileMenu"
>
  <div class="mobile-menu-close" (click)="toggleMobileMenu()">
    <fa-icon [icon]="faTimes" [style]="'color: #52525B'"></fa-icon>
  </div>

    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/blog">Blog</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="/profile">My Profile</a></li>
        <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
        <li *ngIf="!isLoggedIn"><a routerLink="/register">Register</a></li>
        <li *ngIf="isLoggedIn"><a (click)="logout()">Logout</a></li>
      </ul>
    </nav>

    <div class="search-holder-mobile" #mobileSearch>
      <app-search></app-search>
    </div>

    <div class="create-post">
      <a routerLink="/create-post">Create Post</a>
    </div>

  </div>


</header>
