<section class="posts-grid-container">

  <h2 class="section-title">Recent Posts</h2>


  <div class="posts-grid">

    <article class="post-card" *ngFor="let post of posts">

      <div class="post-card-image">

        <img src="./assets/hero.jpg" alt="post-card">

      </div>


      <div class="labels">

        <span class="label">Technology</span>

      </div>

      <h3 class="title">
        The Impact of Technology on the Workplace: How Technology is Changing
      </h3>

      <div class="details">

        <div class="user-details">

          <div class="profile-photo">

            <img src="./assets/user.jpg" alt="profile-photo">

          </div>

          <div class="user-name">
            Tracey Wood
          </div>

        </div>

        <div class="date">
          August 20, 2022
        </div>

      </div>


    </article>

  </div>

  <button class="view-all">
    View All Posts
  </button>

</section>
