div#profile-edit {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

div#profile-edit .page-title {
  padding-bottom: .5rem;
}


#profile-edit form .form-group {
  display: flex;
  flex-direction: column;
  gap: .2rem;
  width: 100%;
  color: white;
}

#profile-edit form .form-group label {
  color: #FFF;
  font-size: .8rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.04rem;
  font-family: Inter;
}

#profile-edit form .form-group input {
  border-radius: 0.625rem;
  border: 1px solid rgba(255, 255, 255, 0.16);
  background: #202124;
  height: 3.125rem;
  flex-shrink: 0;
  outline: none;
  color: #FFF;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding: 0 1rem;
  transition: border-color 0.2s ease-in-out;
}

#profile-edit form .form-group input:focus {
  border: 1px solid #4B6BFB;
}

#profile-edit form .form-group input.ng-invalid.ng-touched {
  border: 1px solid #FF4D4F;

}

#profile-edit .or-login a{
  color: #4B6BFB;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

#profile-edit .or-login a:hover{
  opacity: 0.8;
}

#profile-edit .or-login {
  color: white;
}
