<div id="profile-edit">

  <h1 class="page-title">
    Edit Profile
  </h1>

  <div *ngIf="errorMessage" class="form-error">
    {{ errorMessage }}
  </div>

  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="profile-edit-form">


    <div class="form-group">
      <label for="firstname">First Name</label>
      <input type="text" id="firstname" class="form-control" formControlName="firstName">
      <div *ngIf="profileForm.get('firstName')?.invalid && (profileForm.get('firstName')?.dirty || profileForm.get('firstName')?.touched)">
        <div class="error-msg" *ngIf="profileForm.get('firstName')?.hasError('required')">First name is required.</div>
      </div>

    </div>

    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input type="text" id="lastname" class="form-control" formControlName="lastName">
      <div *ngIf="profileForm.get('lastName')?.invalid && (profileForm.get('lastName')?.dirty || profileForm.get('lastName')?.touched)">
        <div class="error-msg" *ngIf="profileForm.get('lastName')?.hasError('required')">Last name is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" class="form-control" formControlName="email">
      <div *ngIf="profileForm.get('email')?.invalid && (profileForm.get('email')?.dirty || profileForm.get('email')?.touched)">
        <div class="error-msg" *ngIf="profileForm.get('email')?.hasError('required')">Email is required.</div>
        <div class="error-msg" *ngIf="profileForm.get('email')?.hasError('email')">Please enter a valid email address.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="biography">Biography</label>
      <textarea type="biography" id="biography" class="form-control" formControlName="biography" cols="30" rows="5"></textarea>
      <div *ngIf="profileForm.get('biography')?.invalid && (profileForm.get('biography')?.dirty || profileForm.get('biography')?.touched)">
        <div class="error-msg" *ngIf="profileForm.get('biography')?.hasError('minlength')">Biography must be at least 10 characters long.</div>
        <div class="error-msg" *ngIf="profileForm.get('biography')?.hasError('maxlength')">Biography cannot be more than 1000 characters long.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="image">Avatar URL</label>
      <input type="text" id="image" class="form-control" formControlName="image" placeholder="https:// or http://">
      <div *ngIf="profileForm.get('image')?.invalid && (profileForm.get('image')?.dirty || profileForm.get('image')?.touched)">
        <div class="error-msg" *ngIf="profileForm.get('image')?.hasError('required')">image is required.</div>
      </div>
    </div>

    <button type="submit" class="form-btn" [disabled]="profileForm.invalid">Save</button>

  </form>

</div>
