<section id="author">

  <div class="user-details-container">

    <div class="user-details-container-inner">

      <div class="user-details">

        <div class="profile-photo">

          <img src="{{author.image}}" alt="profile-photo">

        </div>

        <div class="user-personal-info">

          <div class="user-name">
            {{ author.firstName }} {{ author.lastName }}
          </div>

          <div class="user-role">
            User
          </div>

        </div>

      </div>

      <p *ngIf="author.biography" class="user-bio">
        {{ author.biography }}
      </p>

      <div class="user-social-links">

        <a href="#" class="user-social-link">
          <fa-icon [icon]="faFacebook" size="lg"></fa-icon>
        </a>

        <a href="#" class="user-social-link">

          <fa-icon [icon]="faTwitter" size="lg"></fa-icon>

        </a>

        <a href="#" class="user-social-link">

          <fa-icon [icon]="faInstagram" size="lg"></fa-icon>

        </a>

        <a href="#" class="user-social-link">

          <fa-icon [icon]="faYoutube" size="lg"></fa-icon>

        </a>

      </div>

    </div>

  </div>

  <app-posts-grid [showTitle]="false" [postType]="'author'" [typeId]="author._id" [showMoreButton]="false"></app-posts-grid>



</section>
