<article id="post">

  <div class="labels">
    <a class="label">Technology</a>
  </div>

  <h1 class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>

  <div class="details">

    <div class="user-details">

      <div class="profile-photo">

        <img src="./assets/user.jpg" alt="profile-photo">

      </div>

      <div class="user-name">
        Tracey Wood
      </div>

    </div>

    <div class="date">
      August 20, 2022
    </div>

  </div>

  <div class="featured-image">

    <img src="./assets/hero.jpg" alt="featured-image">

  </div>

  <div class="content">

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod, nisl eget fermentum aliquam, elit nunc
      ultricies nunc, euismod aliquet nunc nunc sit amet urna. Donec euismod, nisl eget fermentum aliquam, elit nunc
      ultricies nunc, euismod aliquet nunc nunc sit amet urna. Donec euismod, nisl eget fermentum aliquam, elit nunc
      ultricies nunc, euismod aliquet nunc nunc sit amet urna.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod, nisl eget fermentum aliquam, elit nunc
      ultricies nunc, euismod aliquet nunc nunc sit amet urna. Donec euismod, nisl eget fermentum aliquam, elit nunc
      ultricies nunc, euismod aliquet nunc nunc sit amet urna. Donec euismod, nisl eget fermentum aliquam, elit nunc
      ultricies nunc, euismod aliquet nunc nunc sit amet urna.</p>

    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod, nisl eget fermentum aliquam, elit nunc
      ultricies nunc, euismod aliquet nunc nunc sit amet urna. Donec euismod, nisl eget fermentum aliquam, elit nunc
      ultricies nunc, euismod aliquet nunc nunc sit amet urna. Donec euismod, nisl eget fermentum aliquam, elit nunc
      ultricies nunc, euismod aliquet nunc nunc sit amet urna.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod, nisl eget fermentum aliquam, elit nunc
      ultricies nunc, euismod aliquet nunc nunc sit amet urna. Donec euismod, nisl eget fermentum aliquam, elit nunc
      ultricies nunc, euismod aliquet nunc nunc sit amet urna. Donec euismod, nisl eget fermentum aliquam, elit nunc
      ultricies nunc</p>

    <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod, nisl eget fermentum aliquam, elit nunc
      ultricies nunc, euismod aliquet nunc nunc sit amet urna. Donec euismod, nisl eget fermentum aliquam, elit nunc
      ultricies nunc</blockquote>

  </div>

</article>
