<section class="featured-blog-post">

  <article class="featured-blog">

    <div class="featured-blog-image">
      <img src="./assets/hero.jpg" alt="featured-blog">
    </div>

    <div class="featured-blog-details">

      <div class="labels">

        <span class="label">Technology</span>

      </div>

      <h2 class="title">
        The Impact of Technology on the Workplace: How Technology is Changing
      </h2>

      <div class="details">

        <div class="user-details">

          <div class="profile-photo">

            <img src="./assets/user.jpg" alt="profile-photo">

          </div>

          <div class="user-name">
            Tracey Wood
          </div>

        </div>

        <div class="date">
          August 20, 2022
        </div>

      </div>


    </div>

  </article>

</section>
