.featured-blog-post {

  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  position: relative;
  padding-bottom: 5rem;

}

.featured-blog-post .featured-blog {

  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.featured-blog-post .featured-blog .featured-blog-image {

  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.featured-blog-post .featured-blog .featured-blog-image img {

  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.75rem;

}

.featured-blog-post .featured-blog .featured-blog-details {

  position: absolute;
  bottom: -2rem;
  left: 4rem;
  width: 47%;
  padding: 2rem;
  color: #fff;
  display: flex;
  padding: 2.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  border-radius: 0.75rem;
  border: 1px solid #242535;
  background: #181A2A;
  box-shadow: 0px 12px 24px -6px rgba(24, 26, 42, 0.12);
}

.featured-blog-post .featured-blog .featured-blog-details h2.title {
  color: #fff;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 2.5rem;
}


