<article id="post">

  <div class="labels">
    <a class="label">{{post.category?.name}}</a>
  </div>

  <h1 class="title">
    {{post?.title}}
  </h1>

  <div class="details">

    <div class="user-details">

      <div class="profile-photo">

        <img src="{{post.author?.image}}" alt="profile-photo">

      </div>

      <div class="user-name">
        {{post.author?.firstName}} {{post.author?.lastName}}
      </div>

    </div>



  </div>

  <div class="featured-image">

    <img src="{{post?.image}}" alt="featured-image">

  </div>

  <div class="content" [innerHTML]="post?.content">
  </div>

</article>
